$_gutter: 20px;
$_gutter-small: 10px;
$_gutter-tiny: 5px;

$_fontSize-small: 12px;
$_fontSize: 16px;
$_fontSize-medium: 24px;
$_fontSize-large: 32px;
$_fontSize-huge: 64px;

$_lineHeight: 32px;

$_radius: 10px;
$_radius-small: 5px;

$_transitionTiming: 0.3s;

$_white: #f5f5f5;

$_black: #19191d;

$_lightGrey: #dedee0;

$_green-primary: #a6ddc5;
$_green-secondary: #bfded1;
$_green-tertiary: #deeae5;

$_orange-primary: #d8961e;
$_orange-tertiary: #e4c897;

$_shadow: 0 1px 3px 0 $_black;
